<h1 class="registration_logo">Seat Yourself</h1>

<div class="registration_form">
    <%= form_for @user do |f| %>

        <p><%= f.label 'name', 'Email' %></p>
        <p><%= f.text_field 'name' %></p>

        <p><%= f.label 'password', 'Password' %></p>
        <p><%= f.password_field 'password' %></p>

        <p><%= f.label 'password_confirmation', 'Retype your password' %></p>
        <p><%= f.password_field 'password_confirmation' %></p>

        <p><%= f.label 'first_name', 'First Name' %></p>
        <p><%= f.text_field 'first_name' %></p>

        <p><%= f.label 'last_name', 'Last Name' %></p>
        <p><%= f.text_field 'last_name' %></p>

        <p><%= f.label 'user_type_diner', 'Diner' %>
            <%= f.radio_button 'user_type','diner', checked:true %>
            <%= f.label 'user_type_restaurant', 'Restaurant' %>
            <%= f.radio_button 'user_type','restaurant' %></p>

        <p><%= f.submit 'Click to sign up' %></p>

    <% end %>
</div>