
<div class="header">

  <div class="logo">
    <h1>SeatYourself</h1>
  </div>

  <div class="nav">

    <ul>
      <li><%= link_to "Find a Restaurant", restaurants_path %></li>
      <li><%= link_to "Manage Reservations", restaurants_path %></li>
    </ul>

  </div>

  <div class="login">
    <ul>
      <li><%= link_to "Sign in", "/login" %></li>
      <li><%= link_to "Register a New Account", "/signup" %></li>
      <li>
        <%= form_tag "/search" do %>
          <%= text_field_tag :search, nil, placeholder: "Enter search term..." %>
          <%= submit_tag "Search" %>

        <% end %>

      </li>
    </ul>
  </div>

</div>

<div id="header_alt">

</div>
