<h1>Viewing All Restaurants</h1>

<% if authenticated? %>

    <p><%= link_to "Log out", session_path("current"), method:"delete" %></p>

<% else %>

    <%= link_to "Sign up", new_user_path %>
    <%= link_to "Log in", new_session_path %>

<% end %>

<% if @registration_success %>
  <h3><%= @registration_success %></h3>
<% end %>

<% if @login_message %>
  <h3><%= @login_message %></h3>
<% end %>


<% if flash[:notice] %>
  <h3><%= flash[:notice] %></h3>
<% end %>

<%= link_to "Add a restaurant", new_restaurant_path %>


<% @restaurants.each do |r| %>
  <h4><%= link_to r.name, restaurant_path(r) %></h4>
  <p>This restaurant seats <%= r.capacity %></p>

<% end %>