<%= render 'shared/header' %>

<div class="body">
  
  <div class="show_restaurant_wrapper">
    <div class="show_header">
      
      <div class="show_header_image">
        <%= image_tag "3_header.jpg" %>
      </div>
      <div class="show_header_title">
        <h1><%= @restaurant.name %></h1>
      </div>

    </div>

    <div class="reservation_container">
      <canvas id="reservationCanvas"></canvas>
      <h3>Make a Reservation:</h3>
    </div>
    
    <div class="show_body">

    </div>

  </div>

</div>



<h1><%= @restaurant.name %></h1>

<% if flash[:notice] %>
  <h3><%= flash[:notice] %></h3>
<% end %>

<p>Book a reservation at this restaurant:</p>
<%= form_for [@restaurant, @reservation] do |f| %>
  <%= f.select(:start_time, @times_array) %>
  <%= f.number_field :seats, placeholder: "number of seats", min: 0, max: 50, style: "width: 150px;" %>
  <%= f.submit %>

<% end %>

