<h1><%= @restaurant.name %></h1>

<% if flash[:notice] %>
  <h3><%= flash[:notice] %></h3>
<% end %>

<% if flash[:rest_create] %>
  <h3><%= flash[:rest_create] %></h3>
<% end %>


<p>Book a reservation at this restaurant:</p>
<%= form_for [@restaurant, @reservation] do |f| %>
  <%= f.select(:start_time, @times_array) %>
  <%= f.number_field :seats, placeholder: "number of seats", min: 0, max: 50, style: "width: 150px;" %>
  <%= f.hidden_field 'user_id', value:session[:user_id] %>
  <%= f.submit %>

<% end %>

<p>Debug stuff:</p>

<strong>Current reservations:</strong>
<% total_seats_reserved = 0 %>
<% @restaurant.reservations.each do |reservation| %>
  <% total_seats_reserved += reservation.seats %>
  <p>Reservation #<%= reservation.id %>, <%= reservation.restaurant.name %> for <%= reservation.seats %> seats at <%= reservation.start_time %>.</p>

<% end %>
<br><br><br>
<p>Total Seats reserved: <%= total_seats_reserved %>
<p>Seats remaining: <%= @restaurant.capacity - total_seats_reserved %>


<% if @reviews.length>0 ; @reviews.each do |review| %>

    <p><%= review.title %></p>
    <p><%= review.content %></p>
    <p><%= review.rating %></p>
    <p>Reviewed by <%= review.user.first_name.capitalize %> on <%= review.created_at %> </p>

<% end; end %>

<%= form_for [@restaurant, @restaurant.reviews.new] do |f| %>

    <p><%= f.label 'title', 'Review Title' %></p>
    <p><%= f.text_field 'title' %></p>

    <p><%= f.label 'content', "Review" %></p>
    <p><%= f.text_area 'content' %></p>

    <p><%= f.label 'rating_1', '1' %>
        <%= f.radio_button 'rating', 1 %>
        <%= f.label 'rating_2', '2' %>
        <%= f.radio_button 'rating', 2 %>
        <%= f.label 'rating_3', '3' %>
        <%= f.radio_button 'rating', 3 %>
        <%= f.label 'rating_4', '4' %>
        <%= f.radio_button 'rating', 4 %>
        <%= f.label 'rating_5', '5' %>
        <%= f.radio_button 'rating', 5 %></p>

    <%= f.hidden_field 'user_id', value:session[:user_id] %>
    <p><%= f.submit 'Submit your review now' %></p>


<% end %>


